<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation.min.css" crossorigin="anonymous">
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav class="top-bar">
	<div class="top-bar-left">
		<ul class="menu">
			<li class="menu-text">The Ghostline</li>
		</ul>
	</div>
	<div class="top-bar-right">
		<ul class="dropdown menu">{% block menu_right %}
		{% endblock %}</ul>
	</div>
</nav>
{% block body %}
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/js/foundation.min.js" crossorigin="anonymous"></script>
<script>
$(document).foundation();
</script>
</body>
</html>
