{% extends "base.html" %}
{% block title %}Ghostline config{% endblock %}
{% block body %}
<div class="grid-container"><div class="grid-x">
	<div class="cell">
		<p class="lead text-center">The phone number for this instance is <strong>{{ phone }}</strong></p>
	</div>
	<div class="cell">
		<h2 id="call">Call responses</h2>
		<table>
			<thead>
				<tr>
					<th>Audio file</th>
					<th>Enabled</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>{% for file in sounds %}
				<tr>
					<td>{{ file[0] }}</td>
					<td>{{ bool(file[1]) }}</td>
					<td><form action="/toggle_call" method="POST">
						<input type="hidden" name="filename" value="{{ file[0] }}">
						<input type="hidden" name="enabled" value="{{ not bool(file[1]) }}">
						<input type="hidden" name="uid" value="{{ uid }}">
						<input type="submit" class="button" value="Toggle">
					</form></td>
				</tr>
			{% endfor %}</tbody>
		</table>
	</div>
	<div class="cell">
		<h2 id="text">Text responses</h2>
		<table>
			<thead>
				<tr>
					<th>Response</th>
					<th>Enabled</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>{% for retort in fortunes %}
				<tr>
					<td>{{ retort[0] }}</td>
					<td>{{ bool(retort[1]) }}</td>
					<td><form action="/toggle_text" method="POST">
						<input type="hidden" name="retort" value="{{ retort[0] }}">
						<input type="hidden" name="enabled" value="{{ bool(retort[1]) }}">
						<input type="hidden" name="uid" value="{{ uid }}">
						<input type="submit" class="button" value="Toggle">
					</form></td>
				</tr>
			{% endfor %}</tbody>
		</table>
	</div>
</div></div>
{% endblock %}
{% block menu_right %}
			<li><a href="#call">Call</a></li>
			<li><a href="#text">Text</a></li>
{% endblock %}
